v<article class="blog">
  <div class="blog-head">  
    <div class="title">
      <a href="/blog/{{id}}">{{title}}</a>
    </div>
    <div class="meta">
      Posted By {{user.username}} on {{format_date created_at}} | 
      {{comments.length}} {{format_plural "comment" comments.length}}
    </div>
  </div>
  <div class="blog-text">
    {{content}}
  </div>
</article>